.tab {
    overflow: hidden;
    border: 1px solid #ccc;
   
}

.tab a {

    float: left;
    border: 1px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab a:hover {
    background-color: #ddd;
}
